
input {
    position: absolute;
    opacity: 0;   
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color:rgb(195, 195, 195);
    border-radius: 3px;
}

input:checked ~ .checkmark {
    background-color: rgb(126, 217, 0);
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

input:checked ~ .checkmark::after {
    display: block;
}

.checkmark::after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


