.payment {
    padding: 20px 0 20px 0;
    height: 34vh;
    background-color: white;
}

.payment_heading {

    color:#026BB5;
    font-weight: 300;
    font-size: 18pt;
    text-align: center;
}

.payment_method {
    height: 60px;
    padding: 5px;
    background-color: rgb(243, 242, 242);
}

.card_icon {
    width: 65px;
}